.signuppagecontent{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
  width: 100%;
  height: 100vh; 
  padding: 50px;
  background-color: antiquewhite;
}

.headingsignup{
    font-size: 60px;
    color: black;
}