.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    height: 100vh;
    width: 100%;
  }
  
  .login-heading {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
    color: black;
    font-size: 30px;
  }
  
  .signup-link a {
    color: rgb(38, 15, 188);
    font-size:30px;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }